.content-area-cards {
  display: flex;
  gap: 5px;
  //padding: 10px 0;
  flex-direction: row;
  width: 100%;

  @media (max-width: 768px) {
    flex-wrap: wrap;
    justify-content: center;
  }

  .metric-card {
    width: 120px; // Largura fixa
    height: 100px; // Altura reduzida
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
    position: relative;
    overflow: hidden;
    margin-right: 5px;
    margin-bottom: 5px;
    transition: all 0.2s ease;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12);
    }

    .card-header {
      background-color: #d94c77;
      color: white;
      padding: 6px;
      font-size: 0.65rem;
      font-weight: 600;
      text-align: center;
      line-height: 2;
    }

    .card-content {
      padding: 8px 4px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: calc(100% - 34px);

      .metric-value {
        font-size: 1.2rem;
        font-weight: 700;
        color: #2c3e50;
        margin-bottom: 2px;
      }

      .metric-label {
        font-size: 0.9rem;
        color: #7f8c8d;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        line-height: 1.2;
        text-align: center;
      }
    }

    &.compact {
      width: 100%;
      height: 110px;

      .card-header {
        font-size: 14px;
        padding: 5px;
      }

      .metric-value {
        font-size: 1.1rem;
      }
    }
  }
  .metric-card2 {
    width: 120px; // Largura fixa
    height: 90px; // Altura reduzida
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
    position: relative;
    overflow: hidden;
    transition: all 0.2s ease;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12);
    }

    .card-header {
      background-color: #d94c77;
      color: white;
      padding: 6px;
      font-size: 0.65rem;
      font-weight: 600;
      text-align: center;
      line-height: 2;
    }

    .card-content {
      padding: 8px 4px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: calc(100% - 34px);

      .metric-value {
        font-size: 1.2rem;
        font-weight: 700;
        color: #2c3e50;
        margin-bottom: 2px;
      }

      .metric-label {
        font-size: 0.9rem;
        color: #7f8c8d;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        line-height: 1.2;
        text-align: center;
      }
    }

    &.compact2 {
      width: 240px;
      height: 0px;

      .card-header {
        font-size: 14px;
        padding: 5px;
      }

      .metric-value {
        font-size: 1.1rem;
      }
    }
  }
}