body {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: "Roboto", sans-serif;
    background-color: #F2F2F2;
    overflow: hidden; /* Remove overflow da página principal */
}

html, body, #root {
    height: 100%;
    overflow: hidden; /* Garante que não há scroll na página principal */
}

button, input {
    border: 0;
    outline: 0;
    font-family: 'Roboto', sans-serif;
}

button {
    cursor: pointer;
}
